<div class="graphContainer"></div>

<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('/api/1/records/?timekey=x&datakey=y', function(data) {
        var colors = ["#F08080", "#20B2AA", "#205EB3", "#8020B3", "#B39B20"];
        var gIdx = 0;
        var records = data.records;
        var groups = data.groups;
        var places = Object.keys(records);
        var graphWidth = 7 * records[places[0]].length;
        graphWidth = (graphWidth < 500 ? 500 : graphWidth) + 'px';

        for (var groupName in groups) {
          $(".graphContainer").append('<div id="graph' + gIdx + '" style="height: 300px; width: ' + graphWidth + '; margin-bottom: 100px;">');
          var colorIdx = 0;
          var chartRecords = [];
          var placesInGroup = groups[groupName];
          console.log(placesInGroup);
          for (var i in placesInGroup) {
            var placeIdx = placesInGroup[i];
            console.log(placeIdx);
            var chartRecord = {
                type: "line",
                xValueType: "dateTime",
                showInLegend: true,
                lineThickness: 2,
                name: places[placeIdx],
                color: colors[colorIdx++],
                markerType: "none",
                dataPoints: records[places[placeIdx]]
            };

            chartRecords.push(chartRecord);
          }

          $("#graph" + gIdx).CanvasJSChart({
              title: {
                  text: groupName,
                  fontSize: 30
              },
              animationEnabled: true,
              axisX: {
                  gridColor: "Silver",
                  tickColor: "silver",
                  valueFormatString: "HH:mm:ss"
              },
              toolTip: {
                shared:true
              },
              theme: "theme2",
              axisY: {
                  gridColor: "Silver",
                  tickColor: "silver"
              },
              legend: {
                  verticalAlign: "center",
                  horizontalAlign: "right"
              },
              data: chartRecords
          });

          gIdx++;
        }
    });
});
</script>
